.calculator {
  width: 20rem;
  height: 30rem;
  background-color: #000;
  display: grid;
  padding: 1%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.keys-numbers {
  grid-area: keys-numbers;
  direction: rtl;
}

.keys-numbers > button {
  background-color: #505050;
}

.keys-numbers .key-zero {
  width: 9.1rem;
  text-align: left;
  padding-left: 15%;
  border-radius: 2.5rem;
}

.keys-operators {
  grid-area: keys-operators;
}

.keys-operators > button {
  background-color: #FF9500;
}

.keys-function {
  grid-area: keys-function;
}

.keys-function > button:first-of-type {
  width: 9.1rem;
  border-radius: 2.5rem;
}

.keys-function > button {
  background-color: #D4D4D2;
  color: #000;
}

.calculator-keypad {
  padding-top: 0.3rem;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(5, 5rem);
  grid-template-areas: "keys-function keys-function keys-function keys-operators" "keys-numbers keys-numbers keys-numbers keys-operators" "keys-numbers keys-numbers keys-numbers keys-operators" "keys-numbers keys-numbers keys-numbers keys-operators" "keys-numbers keys-numbers keys-numbers keys-operators";
}

.calculator-input {
  border-color: black;
  text-align: right;
  padding-right: 10%;
  font-weight: bold;
  font-size: xx-large;
}

.result {
  min-height: 3rem;
  color: #fff;
  font-size: 3rem;
  font-weight: lighter;
}